.scrollContainer {
	height: 100%;
	width: 100%;
	overflow: hidden auto;
	contain: strict;
	box-sizing: border-box;
}

.contentsPlaceholder {
	width: 100%;
	position: relative;

	/* overflow: hidden; */
	overflow-y: auto;
}

.virtualArea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/* .virtualArea > * {
  overflow: hidden;
} */
