/* SelectX Styles */

/* Common Styles */
.rsl,
.rsl *,
.rsl ::after,
.rsl ::before {
	box-sizing: border-box;
	overflow-wrap: break-word;
}

.rsl {
	--blue-50: rgb(0 126 255 / 8%);
	--blue-100: rgb(174 192 220);
	--blue-700: #4285f4;
	--sky-100: #129cf8;
	--sky-200: #0096fb;
	--gray-lightest: rgb(205 222 240 / 25%);
	--gray-400: #e9ecef;
	--gray-500: #ddd;
	--gray-600: #ccc;
	--gray-700: #aaa;
	--gray-800: #6e7276;
	--black: #333;
	--white: #fff;
	--red-100: #ff5c5c;
	--red-600: #dc3545;
	--red-light: rgb(220 53 69 / 25%);
	--blue-light: rgb(0 123 255 / 75%);
}

.rsl .hidden {
	display: none;
}

.rsl .flex {
	display: flex;
}

.rsl .grid {
	display: grid;
}

.rsl .block {
	display: block;
}

.rsl .pointer-events-none {
	pointer-events: none;
}

.rsl .pointer-events-auto {
	pointer-events: auto;
}

.rsl .opacity-75 {
	opacity: 0.75;
}

.rsl .opacity-100 {
	opacity: 1;
}

.rsl .m-0 {
	margin: 0;
}

.rsl .wrap {
	flex-wrap: wrap;
}

.rsl .nowrap {
	flex-wrap: nowrap;
}

.rsl .select-none {
	user-select: none;
}

.rsl .rotate-0 {
	transform: rotate(0deg);
}

.rsl .rotate-180 {
	transform: rotate(180deg);
}

.rsl .gray-800 {
	color: var(--gray-800);
}

/* End Common Styles */

/* Container */
.rsl.rsl-container {
	position: relative;
}

/* End Container */

.rsl .value-container {
	outline: 0;
	display: flex;
	flex-wrap: wrap;
	cursor: default;
	position: relative;
	align-items: center;
	justify-content: space-between;
	min-height: 38px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;

	/* background-color: var(--white); */
	border-color: var(--gray-600);
	box-shadow: 0 0 0 0.2rem var(--gray-lightest);
	transition:
		box-shadow 0.2s ease-out,
		border-color 0.2s ease-out;
}

.rsl .value-container.disabled {
	background-color: var(--gray-400);
}

.rsl .value-container.error {
	box-shadow: var(--red-light) 0 0 0 0.2rem;
	border-color: var(--red-100);
}

.rsl .value-container.focused {
	box-shadow: var(--blue-light) 0 0 0 0.2rem;
	border-color: var(--blue-700);
}

/* Value Left */
.rsl .value-left {
	flex: 1 1 0%;
	flex-wrap: wrap;
	overflow: hidden;
	position: relative;
	align-items: center;
	-webkit-box-align: center;
	padding: 2px 8px;
}

/* End Value Left */

.rsl .input-container {
	margin: 2px;
	flex: 1 1 auto;
	display: inline-grid;
	grid-area: 1 / 1 / 2 / 3;
	grid-template-columns: 0 min-content;
}

.rsl .input-container::after {
	white-space: pre;
	visibility: hidden;
	content: attr(data-value) ' ';
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	font: inherit;
	min-width: 2px;
	grid-area: 1 / 2;
}

.rsl .value-left input {
	width: 100%;
	background: 0 center;
	color: inherit;
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	font: inherit;
	min-width: 2px;
	grid-area: 1 / 2 / auto / auto;
}

.rsl .value-left input:focus {
	outline: none;
}

.rsl .value-left input:read-only {
	cursor: default;
}

/* Value Right */
.rsl .value-right {
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	flex-shrink: 0;
	align-self: stretch;
}

/* End Value Right */

@keyframes rsl-fade-in-key-frames {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Spinner */
.rls .spinner {
	--size: 20px;
	--border: 4px;

	margin-right: 0.25rem;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	position: relative;
	border: var(--border) solid var(--gray-600);
	border-right: var(--border) solid var(--black);
	animation: rsl-spin 1s linear infinite;
}

@keyframes rsl-spin {
	100% {
		transform: rotate(360deg);
	}
}

/* End Spinner */

.rsl .indicator-icon {
	height: 100%;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	padding: 0 1rem;
}

.rsl .icon-separator {
	width: 1px;
	margin: 4px 0;
	align-self: stretch;
	background-color: var(--gray-600);
}

.rsl .indicator-icon button {
	background: transparent;
	border: none;
	margin: 0;
	font-size: 20px;
	padding: 0;
	line-height: 1;
	cursor: pointer;
	color: var(--gray-600);
	transition:
		transform 0.3s ease-in-out 0s,
		color 0.2s ease-out 0s;
}

.rsl .indicator-icon button.color-error {
	color: var(--red-100);
}

.rsl .indicator-icon button:focus {
	outline: none;
	color: var(--black);
}

.rsl .indicator-icon button:hover {
	color: var(--black);
}

/* SingleValue */
.rsl .single-value {
	margin: 0 2px;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	text-overflow: ellipsis;
	grid-area: 1 / 1 / 2 / 3;
}

/* End SingleValue */

/* Chip */
.rsl .chip {
	display: flex;
	margin: 1px 2px;
	padding: 0.25rem;
	background-color: var(--blue-50);
	border-radius: 0.25rem;
	border: 1px solid rgb(187 201 215 / 24%);
	font-size: 0.9em;
	line-height: 1.4;
	animation: 0.2s ease-in 0s 1 normal none running rsl-fade-in-key-frames;
}

/* Chip Label */
.rsl .chip-label {
	text-transform: capitalize;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	user-select: none;
	box-sizing: border-box;
}

/* End Chip Label */

.rsl .chip-button {
	cursor: pointer;
	background-color: var(--blue-100);
	border: none;
	outline: none;
	border-radius: 0.25rem;
	display: inline-block;
	color: var(--white);

	/* font-size: 0.15em; */
	align-self: center;
	margin-left: 5px;
	animation: rsl-fade-in-key-frames 0.2s ease-in;
	transition: color 0.2s ease-out;
}

.rsl .chip-button:hover {
	background-color: rgb(0 113 230 / 8%);
	color: var(--red-100);
}

.rsl .chip-button:focus {
	outline: none;
	color: var(--red-600);
}

/* Chip End */

/* DropDown */
.rsl .rsl-dropdown-container {
	z-index: 999;
	cursor: default;
	position: absolute;
	width: 100%;
	margin: 0.35rem 0;
	padding: 0;
	animation: 0.2s ease-in 0s 1 normal none running rsl-fade-in-key-frames;
	background-color: var(--white);
	box-shadow:
		rgb(10 10 10 / 12%) 0 0.5em 1em -0.125em,
		rgb(10 10 10 / 4%) 0 0 0 1px;
	border-radius: 0.25rem;
}

/* DropDown Content */
.rsl .rsl-dropdown-content {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-items: center;
	overflow-y: auto;
}

.rsl .options-no-data {
	color: var(--red-100);
}

.rsl .option-content {
	flex: 1 1 auto;
	min-width: 0;
	display: flex;
	margin-left: 4px;
	flex-direction: column;
}

.rsl .option-title {
	color: inherit;
}

.rsl .option-description {
	color: rgb(107 114 128);
}

.rsl .rsl-dropdown-content ul {
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0;
	max-height: 250px;
	overflow-y: auto;
}

.rsl .rsl-dropdown-content li {
	display: inline-flex;
	width: 100%;
	list-style-type: none;
	padding: 0.2rem 0.5rem;
	place-items: center center;
}

.rsl .rsl-dropdown-content li:hover {
	background: var(--sky-200);
	color: var(--white);
	cursor: pointer;
}

.rsl rsl-dropdown-content .checkbox {
	margin-right: 10px;
}

.rsl li.group-heading {
	color: var(--black);
	font-weight: bold;
	pointer-events: none;
	padding: 0.2rem 0.5rem;
}

.rsl li.group-child-ele {
	padding: 0.7rem;
	border-bottom: 1px solid var(--gray-600);
}

.rsl li.group-child-ele.selected {
	background: var(--sky-100);
	color: var(--white);
}

.rsl .option-image {
	height: 40px;
	width: 40px;
	border-radius: 0.25rem;
}

.rsl .option-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0.25rem;
}

/* End Dropdown */
