/* SelectX Styles */

/* Common Styles */
.rsl,
.rsl *,
.rsl ::after,
.rsl ::before {
	box-sizing: border-box;
}

.rsl {
	--blue: #4285f4;
	--gray-lightest: rgb(205 222 240 / 25%);
	--light-gray: #e9ecef;
	--medium-gray: #ddd;
	--dark-gray: #ccc;
	--darkest-gray: #aaa;
	--black: #333;
	--white: #fff;
	--red: #ff5c5c;
	--red-light: rgb(220 53 69 / 25%);
	--blue-light: rgb(0 123 255 / 75%);
}

.rsl .hidden {
	display: none;
}

.rsl .flex {
	display: flex;
}

.rsl .grid {
	display: grid;
}

.rsl .block {
	display: block;
}

.rsl .pointer-events-none {
	pointer-events: none;
}

.rsl .pointer-events-auto {
	pointer-events: auto;
}

.rsl .opacity-75 {
	opacity: 0.75;
}

.rsl .opacity-100 {
	opacity: 1;
}

.rsl .m-0 {
	margin: 0;
}

.rsl .wrap {
	flex-wrap: wrap;
}

.rsl .nowrap {
	flex-wrap: nowrap;
}

.rsl .select-none {
	user-select: none;
}

.rsl .rotate-0 {
	transform: rotate(0deg);
}

.rsl .rotate-180 {
	transform: rotate(180deg);
}

/* End Common Styles */

/* Container */
.rsl.rsl-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	user-select: none;
	position: relative;

	/* text-align: left;
  justify-items: center;
  border: 1px solid #ccc;
  border-radius: 0.25rem; */
}

/* End Container */

.rsl .value-container {
	outline: 0;
	display: flex;
	flex-wrap: wrap;
	cursor: default;
	position: relative;
	align-items: center;
	justify-content: space-between;
	min-height: 46px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	background-color: var(--white);
	border-color: var(--dark-gray);
	box-shadow: 0 0 0 0.2rem var(--gray-lightest);
	transition:
		box-shadow 0.2s ease-out,
		border-color 0.2s ease-out;
}

.rsl .value-container.disabled {
	background-color: var(--light-gray);
}

.rsl .value-container.error {
	box-shadow: 0 0 0 0.2rem var(--red-light);
	border-color: var(--red);
}

.rsl .value-container.focused {
	box-shadow: 0 0 0 0.2rem var(--blue-light);
	border-color: var(--blue);
}

.rsl .value-container input {
	flex-grow: 1;
	background: transparent;
	appearance: none;
	border: none;
}

.rsl .value-container input:focus {
	outline: none;
}

.rsl .value-container input:read-only {
	cursor: default;
}

/* Value Left */
.rsl .value-left {
	flex: 1 1 0%;
	flex-wrap: wrap;
	overflow: hidden;
	position: relative;
	align-items: center;
	box-sizing: border-box;
	padding: 2px 8px;
}

/* End Value Left */

/* Value Right */
.rsl .value-right {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	align-self: stretch;
}

/* End Value Right */

@keyframes rsl-fade-in-key-frames {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Spinner */
.rls .spinner {
	--size: 20px;
	--border: 4px;

	margin-right: 0.25rem;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	position: relative;
	border: var(--border) solid var(--dark-gray);
	border-right: var(--border) solid var(--black);
	animation: rsl-spin 1s linear infinite;
}

@keyframes rsl-spin {
	100% {
		transform: rotate(360deg);
	}
}

/* End Spinner */

.rsl .indicator-icon {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

.rsl .icon-separator {
	width: 1px;
	margin: 4px 0;
	align-self: stretch;
	background-color: var(--dark-gray);
}

.rsl .indicator-icon button {
	background: transparent;
	border: none;
	margin: 0;
	font-size: 20px;
	padding: 0;
	line-height: 1;
	cursor: pointer;
	color: var(--dark-gray);
}

.rsl .indicator-icon button.color-error {
	color: var(--red);
}

.rsl .indicator-icon button:focus {
	outline: none;
	color: var(--black);
}

.rsl .indicator-icon button:hover {
	color: var(--black);
}

.rsl .caret-icon {
	transition:
		transform 0.3s ease-in-out,
		color 0.2s ease-out;
}

/* Chip Container */
.rsl .chip-container {
	display: flex;
	min-width: 0;
	column-gap: 0.375rem;
}

/* End Chip Container */

/* Chip */
.rsl .chip {
	display: flex;
	align-items: center;
	padding: 0.25rem;
	background-color: rgb(0 126 255 / 8%);
	border-radius: 0.25rem;
	border: 1px solid rgb(187 201 215 / 24%);
	font-size: 0.9em;
	line-height: 1.4;
}

.rsl .chip:last-of-type {
	margin-right: 5px;
}

.rsl .chip-button {
	cursor: pointer;
	background-color: rgb(148 163 184);
	border: none;
	outline: none;
	border-radius: 0.25rem;
	display: inline-block;
	font-weight: 600;
	padding: '0 6px';
	color: var(--white);
	font-size: '0.65em';
	align-self: 'center';
	margin-left: 5px;
	animation: rsl-fade-in-key-frames 0.2s ease-in;
	transition: color 0.2s ease-out;
}

.rsl .chip-button:hover {
	background-color: rgb(0 113 230 / 8%);
	color: var(--red);
}

.rsl .chip-button:focus {
	outline: none;
	color: '#dc3545';
}

/* Chip End */

/* Chip Label */
.rsl .chip-label {
	text-transform: capitalize;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	user-select: none;
	box-sizing: border-box;
}

/* End Chip Label */

/* DropDown */
.rsl .options-wrapper {
	position: absolute;
	left: 0;
	top: 2.8rem;
	margin-top: 5px;
	width: 100%;
	z-index: 2;
	box-shadow:
		0 1px 3px 0 rgb(0 0 0 / 10%),
		0 1px 2px -1px rgb(0 0 0 / 10%);
	border-radius: 0.25rem;
	background-color: var(--white);
	border: 1px solid var(--dark-gray);
}

.rsl .options-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-items: center;

	/* padding: 0.5rem; */
	overflow-y: auto;
}

.rsl .options-no-data {
	color: rgb(234 26 26);
}

.rsl .option-content {
	flex: 1 1 auto;
	min-width: 0;
	display: flex;
	margin-left: 4px;
	flex-direction: column;
}

.rsl .option-title {
	color: rgb(31 41 55);
}

.rsl .option-description {
	color: rgb(107 114 128);
}

.rsl .options-container ul {
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0;
	max-height: 250px;
	overflow-y: auto;
}

.rsl .options-container li {
	display: inline-flex;
	width: 100%;
	list-style-type: none;
	padding: 0.2rem 0.5rem;
	place-items: center center;
}

.rsl .options-container li:hover {
	background: #0096fb;
	color: #fff;
	cursor: pointer;
}

.rsl .checkbox {
	margin-right: 10px;
}

.rsl li.group-heading {
	color: #908e8e;
	pointer-events: none;
	padding: 0.2rem 0.5rem;
}

.rsl li.group-child-ele {
	padding: 0.7rem;
	border-bottom: 1px solid #ccc;
}

.rsl li.group-child-ele.selected {
	background: #129cf8;
}

.rsl .option-image {
	height: 40px;
	width: 40px;
	border-radius: 0.25rem;
}

.rsl .option-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0.25rem;
}

/* End Dropdown */
